**/.DS_Store

data/ancillary/*
data/dataframes/*
data/raw/*
data/processed/*
data/model_results/*

bash/z_wget_scripts/*
build/
manuscript/
stan/
tmp/

R/MBC_Rscript.R

wildfire_analysis.egg-info/
**/__pycache__
**/.ipynb_checkpoints
.Rproj.user
